* {
    margin: 0px;
    padding: 0px;
}

main {
    text-align: center;
}

main img {
    width: 280px;
}

.search-bar {
    width: 450px;
    border-radius: 2em;
    padding: 1em;
    margin: 2em;
    border-width: 1px;
    background-color: #fff;
    border-color: #d9d5d5;
}

.buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 15px;
}

.button {
    border: none;
    background-color: rgb(242, 242, 242);
    padding: .75em;
    border-radius: .2em;
    font-size: .8em;
}

.button:hover {
    border: 1px solid #a4a4a4;
    background-color: rgb(247, 247, 247);
}

.search-button {
    width: 125px;
    justify-self: end;
}

.lucky-button {
    width: 150px;
}

nav {
    margin: 22px;
}

ul {
    list-style-type: none;
    display: inline;
    word-spacing: 0.5em;
}

li {
    display: inline;
    font-size: .7em;
    color: #333;
}

.left, .right {
    display: inline;
}

.right {
    float: right;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}